/* globals.css */

:root{
  --ubuntu-orange: #E95420;
  --ubuntu-aubergine: #77216F;
  --ubuntu-deep: #2C001E;
}

html, #root { height: 100%; }

body {
  margin: 0;                 /* evita desborde por el margin default */
  background:
    linear-gradient(120deg, #2C001E 0%, #77216F 55%, #E95420 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll; /* evita glitches en móviles */
}

